.airport-selector

  > .suggestions-anchor
    position relative
    > .suggestions-wrapper
      background-color: white
      position absolute
      border 1px solid #A0A0A0
      width: 100%
      padding: 0 0.5em