root = true

# taken from the standardjs repo to make the editor config match standardjs style
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true